
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">

    <!--Profile-->
<!--     <li ui-sref-active="active">
        <a ui-sref="app.profile">
            <i class="menu-icon fa fa-camera"></i>
            <span class="menu-text">客户画像</span>
        </a>
    </li> -->
    <!--Dashboard-->
    <li ui-sref-active="active">
        <a ui-sref="app.personality">
            <i class="menu-icon fa fa-bar-chart-o"></i>
            <span class="menu-text">仪表盘</span>
        </a>
    </li>

    <!---->
    <li >
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-user-plus"></i>
            <span class="menu-text">客户分析</span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.classification">
                    <span class="menu-text">群体分析</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.profile">
                    <span class="menu-text">个体分析</span>
                </a>
            </li>
        </ul>
    </li>

    <li >
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-diamond"></i>
            <span class="menu-text">产品分析</span>
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.product">
                    <span class="menu-text">产品分析</span>
                </a>
            </li>
        </ul>
    </li>


    <!-- below are the settings of templates -->
    <!--UI Elements-->
    <li >
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text"> Elements </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.elements">
                    <span class="menu-text">Basic Elements</span>
                </a>
            </li>
            <li >
                <a href="#" class="menu-dropdown">
                    <span class="menu-text">
                        Icons
                    </span>
                    <i class="menu-expand"></i>
                </a>

                <ul class="submenu">
                    <li ui-sref-active="active">
                        <a ui-sref="app.fontawesome">
                            <i class="menu-icon fa fa-rocket"></i>
                            <span class="menu-text">Font Awesome</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.glyphicons">
                            <i class="menu-icon glyphicon glyphicon-stats"></i>
                            <span class="menu-text">Glyph Icons</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.typicons">
                            <i class="menu-icon typcn typcn-location-outline"></i>
                            <span class="menu-text"> Typicons</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.weathericons">
                            <i class="menu-icon wi wi-hot"></i>
                            <span class="menu-text">Weather Icons</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.tabs">
                    <span class="menu-text">Tabs & Accordions</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.alerts">
                    <span class="menu-text">Alerts & Tooltips</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.modals">
                    <span class="menu-text">Modals & Wells</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.buttons">
                    <span class="menu-text">Buttons</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.nestablelist">
                    <span class="menu-text"> Nestable List</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.treeview">
                    <span class="menu-text">Treeview</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Tables-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-table"></i>
            <span class="menu-text"> Tables </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.simpletables">
                    <span class="menu-text">Simple & Responsive</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.datatables">
                    <span class="menu-text">Data Tables</span>
                </a>
            </li>
        </ul>
    </li>
    <!--Forms-->
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> Forms </span>

            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.formlayout">
                    <span class="menu-text">Form Layouts</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.forminputs">
                    <span class="menu-text">Form Inputs</span>
                </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.formpickers">
                    <span class="menu-text">Data Pickers</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.formwizard">
                    <span class="menu-text">Wizard</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.formvalidation">
                    <span class="menu-text">Validation</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.formeditors">
                    <span class="menu-text">Editors</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.forminputmask">
                    <span class="menu-text">Input Mask</span>
                </a>
            </li>
        </ul>
    </li>



</ul>
<!-- /Sidebar Menu -->
